body{
    margin:0; 
    padding: 0; 
    font-family:JetBrains Mono;
    color: white;
}

button{
    font-family:JetBrains Mono; 
    background-color: gold; 
    color: white; 
    border: none; 
    border-radius: 10px;
}
.bigButton{
    font-size: 1.5em;
}

input{
    font-size: 1.2em;
    border-radius: 10px;
}



.panel{
    background-color: green;
    width: 100%; 
    height: 12%;
}

.tblPanel{
    position: relative; 
    top: 25%; 
    left: 5%;
    width:90%;
}

.tdPanel {
    white-space: nowrap;
    width:auto;
    text-align: center;
}

.tdTitle{
    text-align: center;
    width:100%
}

.tdLogo{
    height: 50;
    width: 60;
}

.labelTitle{
    font-size: 2em;
    color: white;
}

.tdCheckbox{
    text-align: right;
}

.labelCheckbox{
    text-align: right;
    font-size: 1.2em;
    color: white;
}

.wrapper{
    background-image: url('./Assets/background.jpg');
    background-size: cover;
    height: 100%;
    color:  white;
}

.tablePkmn{
    font-size: 1.5em;
    position: relative;
    top: 10%;
    left: 35%;
}